<ion-header>
  <ion-toolbar>
    <ion-title>LessonSelect</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

	<ion-list class="lesson-list">
		<ion-item button (click)="openLesson(lesson)" *ngFor="let lesson of module.lessons">
      {{lesson.title}}
    </ion-item>
	</ion-list>

</ion-content>
